<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.antd</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2285D864-F7EA-4CEB-97F1-B05EE2917E35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4DA9603-BFAF-427D-B034-1C1C1C81C1A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62279BFA-A837-4CF9-AB80-C282465A2973</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4DA9603-BFAF-427D-B034-1C1C1C81C1A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7236EE4F-F9AB-4DB6-A627-99CE34C2E73A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4DA9603-BFAF-427D-B034-1C1C1C81C1A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>902ADBB8-8D0D-43D1-BE3E-84F08BDBF89A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2D8992B-65A4-47BA-A2A3-7D989A776ED3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2D8992B-65A4-47BA-A2A3-7D989A776ED3</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>墨渊君</string>
	<key>description</key>
	<string>输入关键词进行过滤</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>antd</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>antd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js v5 "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>可通过关键词进行过滤</string>
				<key>title</key>
				<string>「anntd」快速打开 Antd 组件</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7236EE4F-F9AB-4DB6-A627-99CE34C2E73A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F4DA9603-BFAF-427D-B034-1C1C1C81C1A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>antd4</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js v4 "$1"

</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>可通过关键词进行过滤</string>
				<key>title</key>
				<string>「anntd4」快速打开 Antd@4.x 组件</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2285D864-F7EA-4CEB-97F1-B05EE2917E35</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>antd3</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js v3 "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>可通过关键词进行过滤</string>
				<key>title</key>
				<string>「anntd3」快速打开 Antd@3.x 组件</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>62279BFA-A837-4CF9-AB80-C282465A2973</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node updateConfig.js</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E2D8992B-65A4-47BA-A2A3-7D989A776ED3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>updateantdconf</string>
				<key>subtext</key>
				<string>将会更新 v3 以及 v4 相关的组件信息</string>
				<key>text</key>
				<string>「updateantdconf」更新 Antd 工作流配置</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>902ADBB8-8D0D-43D1-BE3E-84F08BDBF89A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2285D864-F7EA-4CEB-97F1-B05EE2917E35</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>62279BFA-A837-4CF9-AB80-C282465A2973</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>7236EE4F-F9AB-4DB6-A627-99CE34C2E73A</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>902ADBB8-8D0D-43D1-BE3E-84F08BDBF89A</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>E2D8992B-65A4-47BA-A2A3-7D989A776ED3</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>F4DA9603-BFAF-427D-B034-1C1C1C81C1A0</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://www.moyuanjun.cc/</string>
</dict>
</plist>
